imutils==0.5.4
Keras==2.2.5
matplotlib==3.5.0
numpy==1.16.2
Pillow==8.4.0
scikit_learn==0.21.3
scipy==1.5.4
scikit-image==0.17.2
tensorflow==1.5.1
opencv-python==4.0.0.21
tensorboard==1.6.0
